################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheNextFrontier/v15
/TheNextFrontier/x64/
